<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - Calolator</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<main class="home">
  <h1>Welcome to Calolator</h1>
  <button class="button" data-navigate="login">Sign In</button>
  <button class="button" data-navigate="signup">Sign Up</button>
</main>
<script src="../static/js/home-script.js"></script>
</body>
</html>
